{% extends 'catalog/base.html' %}
{% block content %}
<body>
<div class="container">
    <div class="row text-start">
        <div class="col-lg-3 col-md-6 col-sm-12">
            <div class="card mb-4 box-shadow">
                <div class="position-relative">
                    <div class="top-50 start-50">
                    <div class="card-header">
                        <h4 class="my-0 font-weight-normal">Создай свою запись</h4>
                    </div>
                     <div class="card-body">
                         <form id="upload-container" method="POST" class="form-floating" enctype="multipart/form-data">
                             {% csrf_token %}
                             {{ form.as_p }}
                             {% if object %}
                                 <button type="submit" class="btn btn-lg btn-block btn-outline-primary">Редактировать</button>
                             {% else %}
                                 <button type="submit" class="btn btn-lg btn-block btn-outline-primary">Создать</button>
                             {% endif %}
                         </form>
                     </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
</body>
{% endblock %}