
{% extends 'catalog/base.html' %}

{% block content %}
<div id="carouselExampleControls" class="carousel slide" data-bs-ride="carousel">
  <div class="carousel-inner">
    {% for object in object_list %}
    <div class="carousel-item {% if forloop.first %} active {% endif %}">
      <div class="container">
        <div class="row justify-content-center">
          <div class="col-3">
            <div class="card mb-4 box-shadow">
              <img src="/media/{{ object.preview }}" class="card-img-top" alt="..."> <!-- Добавлено изображение -->
              <div class="card-body">
                <h4 class="my-0 font-weight-normal">{{ object.title }}</h4>
                <ul class="list-unstyled mt-3 mb-4 text-start m-3">
                  {% load custom_filters %}
                  <li>- Описание: {{ object.content|truncate_after_100 }}</li>
                  <li>- Просмотры: {{ object.view_count }}</li>
                </ul>
                  {% csrf_token %}
                  <nav class="ms-auto">
                      <a href="{% url 'blog:post' object.pk %}" class="btn btn-primary">
                        Посмотреть
                      </a>
                      {% if request.user == object.creator %}
                      <a href="{% url 'blog:edit_post' object.pk %}" class="btn btn-primary">
                        Редактировать
                      </a>
                      <a href="{% url 'blog:delete_post' object.pk %}" class="btn btn-primary">
                          Удалить
                      </a>
                      {% endif %}
                  </nav>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    {% endfor %}
  </div>
  <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleControls" data-bs-slide="prev">
    <span class="carousel-control-prev-icon" aria-hidden="true"></span>
    <span class="visually-hidden">Previous</span>
  </button>
  <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleControls" data-bs-slide="next">
    <span class="carousel-control-next-icon" aria-hidden="true"></span>
    <span class="visually-hidden">Next</span>
  </button>
</div>
{% endblock %}

